<div>
    <div class="half">
        <h1>Da Baws</h1>
        <h2>Kevin Welcher: 34.2%</h2>

    </div>

    <div class="half">
        <ul>
            <li>blarg hmphh: 22%</li>
            <li>lkjasd alskdj: 20%</li>
            <li>kjkjkj kasjdnaw: 12%</li>
            <li>kasj afwoeiufawe: 2%</li>
        </ul>
    </div>
</div>
