
<h1>Select your user</h1>
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<h2>Most Intact Files</h2>
<ul>
    <li>main.js: 42%</li>
    <li>app.js: 32%</li>
    <li>styles.js: 22%</li>
    <li>html.js: 12%</li>
    <li>bash.js: 2%</li>
</ul>

<h2>How Many Files Touched</h2>
<ul>
    <li>42</li>
</ul>

<h2>Averages</h2>
<ul>
    <li>Day: 20 lines</li>
    <li>Week: 30 lines</li>
</ul>

<h2>Medians</h2>
<ul>
    <li>Day: 20 lines</li>
    <li>Week: 30 lines</li>
</ul>

<h2>Fave File Types</h2>
<ul>
    <li>JS: 30 files 100 lines</li>
    <li>CSS: 20 files 30 lines</li>
</ul>

<h2>Most Clairvoyant Day of the Week</h2>
<ul>
    <li>Monday</li>
</ul>

